header{
    display: grid;
    grid-template-columns: 0.5fr 1fr ;
    background-color: var(--backcolor_2);
    padding: 7px 30px;
  }
  
  nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
    
  }
  
  .logo{
    color: var(--color_1);
    padding: 0px;
    margin: 0px;
  }
  
  .navItem{
    border-radius: 10px;
    box-shadow: 2px 2px var(--backcolor_2);
    color: var(--color_1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    width: 200px;
  }
  
  .navItem:hover{
    box-shadow: inset -2px -2px 2px var(--color_1);
    background-color: var(--color_4);
  }

  @media screen and (max-width: 1000px) {
    
    /*Header*/
   
    header{ 
        grid-template-columns: 1fr;   
        grid-template-rows: repeat(2, 1fr);
    }

    nav{      
      justify-items: center;
    }
}

@media screen and (max-width: 750px) {
    
  /*Header*/
 
  header{ 
      grid-template-columns: 1fr;   
      grid-template-rows: 40px 1fr;
  }

  nav{ 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);    
    justify-items: center;
  }
}