:root{
  --fontcolor: #222222;
  --color_1: #e4eaf7;
  --backcolor_2: #596B8D;
  --color_3: #7E8C91;
  --color_4: #88b5c0;
}

.App {
  margin: 0;
}

button{
  background-color: rgba(255, 255, 255, 0);
}

h1, h2, h3, p{
  color: var(--fontcolor);  
}

.closeBtn{
  width: fit-content;
  justify-self: end;
  color: var(--color_3);
  align-self: center;
  padding: 10px 12px;
  border: 2px solid var(--color_3);
  box-shadow: 2px 2px var(--fontcolor);
  border-radius: 20px;
  cursor: pointer;
}

.closeBtn:active{
  color: var(--color_1);
  background-color: var(--color_3);
  border: 2px solid var(--color_3);
  box-shadow: inset 2px 2px var(--fontcolor);
}







