:root{
  --fontcolor: #222222;
  --color_1: #e4eaf7;
  --backcolor_2: #596B8D;
  --color_3: #7E8C91;
  --color_4: #8F9752;
}

.App {
  margin: 0;
  
}

h1, h2, h3, p{
  color: var(--fontcolor);
}

.closeBtn{
  width: fit-content;
  justify-self: end;
  color: var(--color_3);
  align-self: center;
  padding: 10px 12px;
  border: 1px solid var(--color_3);
  border-radius: 12px;
  cursor: pointer;
}







